<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">	  <!--configuration에 대한 정의들  -->
<configuration>
  <environments default="development">
    <environment id="development">
    <!-- MANAGED: 컨테이너가 트랙잭션을 관리하겠다 -->
      <transactionManager type="MANAGED"/>
      <!--UNPOOLED: 컨넥션풀을 사용하지 않겠다  -->
      <dataSource type="UNPOOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="hr"/>
        <property name="password" value="hr"/>
      </dataSource>
    </environment>
  </environments>
  <!--매퍼파일들 매핑-->
<mappers>
<mapper resource="mybatis/BoardMapper.xml"/>
<mapper resource="mybatis/BoardfileMapper.xml"/>
<mapper resource="mybatis/ReplyMapper.xml"/>

<!-- 만약 매퍼파일이 10개라면, 10개에 대한 매퍼파일을 모두 만들어주어야 한다. -->
</mappers>

</configuration>